body {
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
  }

  /*emojis class flex alignment adjusted*/
  .emojis {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

   /*emoji class border,textalignment, flex and box sizing adjusted*/
   .emoji {
    border: 1px solid #222;
    border-radius: 8px;
    padding: 1rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    flex: 1 1 calc(50% - 1rem);
    box-sizing: border-box;
    max-width: calc(50% - 1rem);
   }


  /*emoji class header2 margin, border bottom, text align, margin botoom, align-self added*/
  .emoji h2 {
    margin: 0;
    border-bottom: 2px solid #ccc;
    text-align: left;
    align-self: stretch;
    margin-bottom: 0.6rem; 
  }
  
  /* emoji button class underline removed BGC, color, padding,alignment, display, wor-wrap, marin added */
  .emoji a {
    text-decoration: none;
    background-color: #781BAA;
    color: white;
    padding: 1rem;
    border-radius: 8px;
    display: block;
    text-align: left;
    align-self: stretch;
    word-wrap: normal;
    margin-top: auto;
  }
  
  /*icons class size, alignmentbeen, margin  added */
  .icon {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 0.6rem;
    order: -1;
  }
   
  /* emoji para class alignment and flex been added*/
  .emoji p {
    text-align: left;
    align-self: stretch;
    flex-grow: 1;
  }